.text-container {
    border: solid 1px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.text-container::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background-color: pink;
    opacity: 0;
    z-index: -1;
}

.text-container:hover::before {
    opacity: 1;
    animation: button-animation 0.3s ease both;
}

.edit-button {
    margin: 15px;
    height: 50%;
    opacity: 0;
    transition: opacity ease 0.3s;
}

.edit-button:hover {
    opacity: 1;
}

@keyframes button-animation {
    0% {
        opacity: 1;
    }
    100% {
        width: 75px;
     }
}